streamlit==1.32.2
instaloader==4.9.6
snscrape==0.6.2.20230320
facebook-scraper==0.2.59
requests==2.31.0
beautifulsoup4==4.12.3
geopy==2.4.1
ipinfo==3.4.2
python-dotenv==1.0.1
streamlit
instaloader
snscrape
facebook-scraper
requests
beautifulsoup4
geopy
ipinfo
python-dotenv
